body {
  background: @0a0f15 url('/assets/pennstate.png') repeat top left;
  background-size: contain;
}

header img {
  margin-top: 2em;
  margin-bottom: 2em;
}

header + .content-pane { margin-top: ; }

header { background-color: #0A0F15 }

/* remove staff ui inset appearance of header */
body > div.container-fluid:first-child {
  padding-left: 0px;
  padding-right: 0px;
}

/* hide the oai_record_prefix setting */
#oai_config > h3 + div {
  display: none;
}