/* header { background-color: #0A0F15; } */
header img { margin: 2em 0; }
.global-header-nav { background-color: #0a0f15; }

/* remove staff ui inset appearance of header */
body > div.container-fluid:first-child {
  padding-left: 0px;
  padding-right: 0px;
}

/* hide the oai_record_prefix setting */
#oai_config > h3 + div {
  display: none;
}

/* announcement styles */

.bg-warning {
  background-color: #ffc107 !important;
}

.announcement {
  font-weight: bold;
  border-bottom: 3px solid #6c757d;
}